<poke-header></poke-header>

<main>

    <section class="pokemon__names">
      <h1 class="slideInLeft">{{pokemon[0].name}}</h1>
    </section>

    <section class="pokemon__status">
      <img
        [src]="pokemon[0].sprites.front_shiny"
        [alt]="pokemon[0].name"
        class="slideInDown"
      >

      <article class="pokemon__status__statistics fadeIn">
        <section>
          <h3>Stats</h3>

          <ol>
            <li *ngFor="let value of pokemon[0].stats">
                {{ value.stat.name }}

              <strong>
                {{ value.base_stat }}
              </strong>
            </li>
          </ol>
        </section>

        <a [routerLink]="['']" class="btn btn__secondary">
          Back
        </a>
      </article>
    </section>

</main>
