@import './config-scss/variables.scss';
@import './config-scss/reset.scss';
@import './config-scss/rem-calc.scss';

html{
  font-family: 'VT323', monospace;
  background-image: url(./assets/images/fondo_1.png);
  background-color: rgb(47, 90, 65);
}
main{
  max-width: 600px;
  margin: 0 auto;
  box-sizing: border-box;
}
